:root{
  --color-white: #ffffff;
  --color-gray: gray;
}
*, 
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #C5CCDC;

}
h1,
h2{
  color: gray;
  margin-bottom: 0;
}
.box-todo{
  margin: 1rem auto;
  color: #8F92A1;
  width: 50%;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 5px 5px 10px gray;
  background-color: #FCFCFC;
  border: none;
}
.btn{
  padding: 10px;
  margin: 0 5px 5px;
  outline: none;
  cursor: pointer;
  border: none;
}
/* .btn.addTask{
  border: none;
  color: gray;
  font-size: 1.5rem;
  background-color: transparent;
} */
.btn:hover{
  color: rgb(104, 131, 64);
}
.todolist-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f5781;
  word-wrap: break-word;
  
}
.todo-items{
  padding: 0 15px;
  color: var(--color-white);
}
.todo-items input[type="checkbox"]:hover, .todo-label{
  cursor: pointer;
}
.line-through{
  text-decoration: line-through;
  font-weight: bolder;
  color: #fff;
}

.todo-label{
  padding-left: 10px;
  text-transform: capitalize;
}
@media screen and (max-width:989px){
  .box-todo{
    margin: 1rem auto;
    color: #8F92A1;
    width: 90%;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px gray;
    background-color: #FCFCFC;
    border: none;
  }
}
#list-heading{
  padding: 10px;
  text-align: center;
}
.btn-filter-group{
  border: 1px solid green;
}

.app__filter-button-group{
  margin: 10px;
}
.active{
  border: 2px solid rgb(240, 124, 240);
  color: green;
}

